## Loading data into Pandas

In [1]:
import pandas as pd
import numpy as np

## read csv
df = pd.read_csv('pokemon_data.csv')
df.head(5)

## read Excel file
# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# df_xlsx.head(5)

## read delimited text file
df = pd.read_csv('pokemon_data.txt', delimiter='\t')
df.head(5)

# df['HP']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [2]:
## Load from a dictionary
d_dic ={'Name':['Bulbasaur','Ivysaur'],
        'Type 1':['Grass',np.nan]} 


df_dic = pd.DataFrame(data = d_dic)
df_dic
# df_dic.info()

## drop NaNs
# df_dic.dropna(axis=0, inplace=True)
# df_dic

        Name Type 1
0  Bulbasaur  Grass
1    Ivysaur    NaN

In [3]:
np_data = np.zeros(3)
np_df = pd.DataFrame(data=np_data.reshape(1,3), columns=['c1','c2','c3'])
np_df

    c1   c2   c3
0  0.0  0.0  0.0

## Reading Data in Pandas

In [4]:
#### Read Headers
# list(df.columns)

## Read each Column
df2=df[['Name', 'Type 1', 'HP']]
df2

## Read Each Row, iloc is integer-based 
# df2.iloc[20:24]
# df.iloc[0:4]

## Read a specific location (R,C)
df.iloc[2,1]

## Iterate through a dataframe
# for index, row in df.iterrows():
#     print(row['Name'])
#     print(row['Attack'])
#     print('***')

## Filter by a where clause, loc is based on label or boolean
df.loc[df['Type 1'] == "Grass"]

####### BAD EXAMPLE ###############
# for index, row in df.iterrows():
#     if (row['Type 1'] == "Grass"):
#         print(row['Name'])
#         print(row['Attack'])
#         print('***')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

## Sorting/Describing Data

In [5]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [6]:
# sorted_df = df.sort_values('Name', ascending=False)

sorted_df = df.sort_values(['Type 1','Name','HP'], ascending=[1,1,0])#,inplace=True)

# sorted_df = df.sort_values([1,2,3],axis=1)#,inplace=True)
sorted_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
182,168,Ariados,Bug,Poison,70,90,70,60,60,40,2,False
290,267,Beautifly,Bug,Flying,60,70,50,100,50,65,3,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
372,340,Whiscash,Water,Ground,110,78,73,76,71,60,3,False
301,278,Wingull,Water,Flying,40,30,30,55,30,85,3,False
209,194,Wooper,Water,Ground,55,45,45,25,25,15,2,False

## Making changes to the data

In [27]:
# %%timeit
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
# df.head()
# type(df['Name'])
# df = df.drop(columns=['Total'])
# df.head()
# df['Total'] = df.iloc[:, 4:10].sum(axis=1)
# df.head()

df.columns.values #numpy array
# list(df.columns.values) #list
# # [1,2]+[3]
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,False,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,False,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,False,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,1,False,309,39,52,43,60,50,65

In [33]:
s= pd.Series([100,101,102])
s.to_numpy()
# d= s.to_frame(name='Col1')
# d.head()
# d['Col1']

array([100, 101, 102], dtype=int64)

## Saving our Data (Exporting into Desired Format)

In [34]:
df2

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [37]:
# df2.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

df2.to_csv('modified.txt', index=False, sep='\t') 
#there are other arguments like header(boolean), compression='zip', 'gzip', etc., quotechar, writing  mode (C-like modes), ...

## Filtering Data

In [65]:
df['Type 1'] == 'Grass'
df[df['Type 1'] == 'Grass']

# mask = (df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)
# mask
# new_df = df[mask]

# new_df = new_df.reset_index()
# new_df.reset_index(drop=True, inplace=True)
# new_df = new_df.drop(columns='#')
# new_df

# list(new_df.index)

# new_df.to_csv('filtered.csv')

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,False,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,False,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,False,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,625,80,100,123,122,120,80
48,43,Oddish,Grass,Poison,1,False,320,45,50,55,75,65,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,6,False,313,56,61,65,48,45,38
719,651,Quilladin,Grass,NaN,6,False,405,61,78,95,56,58,57
720,652,Chesnaught,Grass,Fighting,6,False,530,88,107,122,74,75,64
740,672,Skiddo,Grass,NaN,6,False,350,66,65,48,62,57,52
741,673,Gogoat,Grass,NaN,6,False,531,123,100,62,97,81,68

### Filtering based on string value

In [66]:
new_df = df[df['Name'].str.contains('Mega ')]
new_df.reset_index(inplace=True, drop=True)
new_df

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,3,VenusaurMega Venusaur,Grass,Poison,1,False,625,80,100,123,122,120,80
1,6,CharizardMega Charizard X,Fire,Dragon,1,False,634,78,130,111,130,85,100
2,6,CharizardMega Charizard Y,Fire,Flying,1,False,634,78,104,78,159,115,100
3,9,BlastoiseMega Blastoise,Water,NaN,1,False,630,79,103,120,135,115,78
4,15,BeedrillMega Beedrill,Bug,Poison,1,False,495,65,150,40,15,80,145
5,18,PidgeotMega Pidgeot,Normal,Flying,1,False,579,83,80,80,135,80,121
6,65,AlakazamMega Alakazam,Psychic,NaN,1,False,590,55,50,65,175,95,150
7,80,SlowbroMega Slowbro,Water,Psychic,1,False,590,95,75,180,130,80,30
8,94,GengarMega Gengar,Ghost,Poison,1,False,600,60,65,80,170,95,130
9,115,KangaskhanMega Kangaskhan,Normal,NaN,1,False,590,105,125,100,60,100,100
10,127,PinsirMega Pinsir,Bug,Flying,1,False,600,65,155,120,65,90,105
11,130,GyaradosMega Gyarados,Water,Dark,1,False,640,95,155,109,70,130,81
12,142,AerodactylMega Aerodactyl,Rock,Flying,1,False,615,80,135,85,70,95,150
13,150,MewtwoMega Mewtwo X,Psychic,Fighting,1,True,780,106,190,100,154,100,130
14,150,MewtwoMega Mewtwo Y,Psychic,NaN,1,True,780,106,150,70,194,120,140
15,181,AmpharosMega Ampharos,Electric,Dragon,2,False,610,90,95,105,165,110,45
16,208,SteelixMega Steelix,Steel,Ground,2,False,610,75,125,230,55,95,30
17,212,ScizorMega Scizor,Bug,Steel,2,False,600,70,150,140,65,100,75
18,214,HeracrossMega Heracross,Bug,Fighting,2,False,600,80,185,115,40,105,75
19,229,HoundoomMega Houndoom,Dark,Fire,2,False,600,75,90,90,140,90,115
20,248,TyranitarMega Tyranitar,Rock,Dark,2,False,700,100,164,150,95,120,71
21,254,SceptileMega Sceptile,Grass,Dragon,3,False,630,70,110,75,145,85,145
22,257,BlazikenMega Blaziken,Fire,Fighting,3,False,630,80,160,80,130,80,100
23,260,SwampertMega Swampert,Water,Ground,3,False,635,100,150,110,95,110,70
24,282,GardevoirMega Gardevoir,Psychic,Fairy,3,False,618,68,85,65,165,135,100
25,302,SableyeMega Sableye,Dark,Ghost,3,False,480,50,85,125,85,115,20
26,303,MawileMega Mawile,Steel,Fairy,3,False,480,50,105,125,55,95,50
27,306,AggronMega Aggron,Steel,NaN,3,False,630,70,140,230,60,80,50
28,308,MedichamMega Medicham,Fighting,Psychic,3,False,510,60,100,85,80,85,100
29,310,ManectricMega Manectric,Electric,NaN,3,False,575,70,75,80,135,80,135
30,319,SharpedoMega Sharpedo,Water,Dark,3,False,560,70,140,70,110,65,105
31,323,CameruptMega Camerupt,Fire,Ground,3,False,560,70,120,100,145,105,20
32,334,AltariaMega Altaria,Dragon,Fairy,3,False,590,75,110,110,110,105,80
33,354,BanetteMega Banette,Ghost,NaN,3,False,555,64,165,75,93,83,75
34,359,AbsolMega Absol,Dark,NaN,3,False,565,65,150,60,115,60,115
35,362,GlalieMega Glalie,Ice,NaN,3,False,580,80,120,80,120,80,100
36,373,SalamenceMega Salamence,Dragon,Flying,3,False,700,95,145,130,120,90,120
37,376,MetagrossMega Metagross,Steel,Psychic,3,False,700,80,145,150,105,110,110
38,380,LatiasMega Latias,Dragon,Psychic,3,True,700,80,100,120,140,150,110
39,381,LatiosMega Latios,Dragon,Psychic,3,True,700,80,130,100,160,120,110
40,384,RayquazaMega Rayquaza,Dragon,Flying,3,True,780,105,180,100,180,100,115
41,428,LopunnyMega Lopunny,Normal,Fighting,4,False,580,65,136,94,54,96,135
42,445,GarchompMega Garchomp,Dragon,Ground,4,False,700,108,170,115,120,95,92
43,448,LucarioMega Lucario,Fighting,Steel,4,False,625,70,145,88,140,70,112
44,460,AbomasnowMega Abomasnow,Grass,Ice,4,False,594,90,132,105,132,105,30
45,475,GalladeMega Gallade,Psychic,Fighting,4,False,618,68,165,95,65,115,110
46,531,AudinoMega Audino,Normal,Fairy,5,False,545,103,60,126,80,126,50
47,719,DiancieMega Diancie,Rock,Fairy,6,True,700,50,160,110,160,110,110

In [77]:
import re
# read more about Python regular expression here: https://docs.python.org/3/library/re.html
# useful cheatsheet: https://www.debuggex.com/cheatsheet/regex/python

new_df = df[df['Name'].str.contains('^Pi\w*' , regex=True)] #the name starts with 'Pi'
# new_df = df[df['Name'].str.contains('^Pi\w*t$' , regex=True)] #the name starts with 'Pi' and ends with 't'
new_df

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
20,16,Pidgey,Normal,Flying,1,False,251,40,45,40,35,35,56
21,17,Pidgeotto,Normal,Flying,1,False,349,63,60,55,50,50,71
22,18,Pidgeot,Normal,Flying,1,False,479,83,80,75,70,70,101
23,18,PidgeotMega Pidgeot,Normal,Flying,1,False,579,83,80,80,135,80,121
30,25,Pikachu,Electric,NaN,1,False,320,35,55,40,50,50,90
136,127,Pinsir,Bug,NaN,1,False,500,65,125,100,55,70,85
137,127,PinsirMega Pinsir,Bug,Flying,1,False,600,65,155,120,65,90,105
186,172,Pichu,Electric,NaN,2,False,205,20,40,15,35,35,60
219,204,Pineco,Bug,NaN,2,False,290,50,65,90,35,35,15
239,221,Piloswine,Ice,Ground,2,False,450,100,100,80,60,60,50
438,393,Piplup,Water,NaN,4,False,314,53,51,53,61,56,40
558,499,Pignite,Fire,Fighting,5,False,418,90,93,55,70,55,55
578,519,Pidove,Normal,Flying,5,False,264,50,55,50,36,30,43

In [81]:
new_df.count()
# new_df[new_df['Type 2'].isnull()]
# new_df.info()

#             13
Name          13
Type 1        13
Type 2         8
Generation    13
Legendary     13
Total         13
HP            13
Attack        13
Defense       13
Sp. Atk       13
Sp. Def       13
Speed         13
dtype: int64


## Conditional Changes

In [87]:
new_df.loc[new_df['Total'] > 500, 'Type 1'] = 'Flamer'
new_df

# new_df.loc[new_df['Total'] > 500, 'Legendary'] = True
# new_df

# new_df.loc[df['Total'] >= 500, ['Generation','Legendary']] = [100, True]
# new_df

# new_df.loc[new_df['Type 2'].isnull(), 'Type 2'] = 'Basic'
# new_df

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
20,16,Pidgey,Normal,Flying,1,False,251,40,45,40,35,35,56
21,17,Pidgeotto,Normal,Flying,1,False,349,63,60,55,50,50,71
22,18,Pidgeot,Normal,Flying,1,False,479,83,80,75,70,70,101
23,18,PidgeotMega Pidgeot,Flamer,Flying,100,True,579,83,80,80,135,80,121
30,25,Pikachu,Electric,Basic,1,False,320,35,55,40,50,50,90
136,127,Pinsir,Bug,Basic,100,True,500,65,125,100,55,70,85
137,127,PinsirMega Pinsir,Flamer,Flying,100,True,600,65,155,120,65,90,105
186,172,Pichu,Electric,Basic,2,False,205,20,40,15,35,35,60
219,204,Pineco,Bug,Basic,2,False,290,50,65,90,35,35,15
239,221,Piloswine,Ice,Ground,2,False,450,100,100,80,60,60,50
438,393,Piplup,Water,Basic,4,False,314,53,51,53,61,56,40
558,499,Pignite,Fire,Fighting,5,False,418,90,93,55,70,55,55
578,519,Pidove,Normal,Flying,5,False,264,50,55,50,36,30,43

## Set index

In [99]:
df = pd.read_csv('pokemon_data.csv')
newdf = df.set_index('Name', drop=True)
# newdf = df.set_index('Name' , drop=False )
# newdf[newdf.index.str.contains('Pichu')]
# newdf = newdf.reset_index()
newdf

# newdf = df.set_index(['Name','Type 1'] , drop=True )
# newdf
# newdf[(newdf.index.get_level_values('Name').str.contains('Pichu'))]

# newdf[(newdf.index.get_level_values('Name').str.contains('Pichu'))
#       |(newdf.index.get_level_values('Type 1').str.contains('Grass'))]

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,80,110,120,130,90,70,6,True

## Aggregate Statistics (Groupby)

In [107]:
df = pd.read_csv('pokemon_data.csv')
# df

# df.groupby(['Type 1']).count()
# df.groupby(['Type 1']).mean()
# df.groupby(['Type 1']).mean()[['HP','Attack','Defense']]
# df.groupby(['Type 1']).mean()[['HP','Attack','Defense']].sort_values('Defense',ascending=False)
# df.groupby(['Type 1']).agg({'HP':'mean','Attack':'max','Defense':'min'}).sort_values('Defense',ascending=False)

## new syntax
# df.groupby('Type 1').agg(
#     min_HP=pd.NamedAgg(column='HP', aggfunc='min'),
#     max_Attack=pd.NamedAgg(column='Attack', aggfunc='max'),
#     average_Defense=pd.NamedAgg(column='Defense', aggfunc='mean'),
# )

# df['c'] = 1
# df.groupby(['Type 1']).count()['c']
# df.groupby(['Type 1', 'Type 2']).count()['c']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: c, Length: 136, dtype: int64

In [115]:
newdf = df[['Name','Type 1','HP']]
res = newdf.groupby(['Type 1']).agg(list)
# res = df.groupby(['Type 1']).agg(list)['Name'] # the output is a series
# res['Bug']
# res = df.groupby(['Type 1']).agg(list)['Name'].to_dict()
res

,Name,HP
Type 1,,
Bug,"[Caterpie, Metapod, Butterfree, Weedle, Kakuna...","[45, 50, 60, 40, 45, 65, 65, 35, 60, 60, 70, 7..."
Dark,"[Umbreon, Murkrow, Sneasel, Houndour, Houndoom...","[95, 60, 55, 45, 75, 75, 35, 70, 50, 50, 65, 6..."
Dragon,"[Dratini, Dragonair, Dragonite, Altaria, Altar...","[41, 61, 91, 75, 75, 45, 65, 95, 95, 80, 80, 8..."
Electric,"[Pikachu, Raichu, Magnemite, Magneton, Voltorb...","[35, 60, 25, 50, 40, 60, 65, 65, 90, 20, 55, 7..."
Fairy,"[Clefairy, Clefable, Cleffa, Togepi, Togetic, ...","[70, 95, 50, 35, 55, 60, 90, 85, 44, 54, 78, 7..."
Fighting,"[Mankey, Primeape, Machop, Machoke, Machamp, H...","[40, 65, 70, 80, 90, 50, 50, 35, 50, 72, 144, ..."
Fire,"[Charmander, Charmeleon, Charizard, CharizardM...","[39, 58, 78, 78, 78, 38, 73, 55, 90, 50, 65, 6..."
Flying,"[TornadusIncarnate Forme, TornadusTherian Form...","[79, 79, 40, 85]"
Ghost,"[Gastly, Haunter, Gengar, GengarMega Gengar, M...","[30, 45, 60, 60, 60, 44, 64, 64, 20, 40, 90, 1..."
Grass,"[Bulbasaur, Ivysaur, Venusaur, VenusaurMega Ve...","[45, 60, 80, 80, 45, 60, 75, 50, 65, 80, 60, 9..."
Ground,"[Sandshrew, Sandslash, Diglett, Dugtrio, Cubon...","[50, 75, 10, 35, 50, 60, 80, 105, 65, 90, 90, ..."
Ice,"[Jynx, Articuno, Swinub, Piloswine, Delibird, ...","[65, 90, 50, 100, 45, 45, 50, 80, 80, 70, 90, ..."
Normal,"[Pidgey, Pidgeotto, Pidgeot, PidgeotMega Pidge...","[40, 63, 83, 83, 30, 55, 40, 65, 115, 140, 40,..."
Poison,"[Ekans, Arbok, Nidoran (Female), Nidorina, Nid...","[35, 60, 55, 70, 90, 46, 61, 81, 40, 75, 80, 1..."
Psychic,"[Abra, Kadabra, Alakazam, AlakazamMega Alakaza...","[25, 40, 55, 55, 60, 85, 40, 106, 106, 106, 10..."
Rock,"[Geodude, Graveler, Golem, Onix, Omanyte, Omas...","[40, 55, 80, 35, 35, 70, 30, 60, 80, 80, 70, 5..."
Steel,"[Steelix, SteelixMega Steelix, Skarmory, Mawil...","[75, 75, 65, 50, 50, 50, 60, 70, 70, 40, 60, 8..."
Water,"[Squirtle, Wartortle, Blastoise, BlastoiseMega...","[44, 59, 79, 79, 50, 80, 40, 65, 90, 40, 80, 9..."

## Working with large amounts of data

In [128]:
# for df in pd.read_csv('modified.csv', chunksize=5): #it returns an iterator for the lines of the file
#     print("CHUNK")
#     print(df)



# new_df = pd.DataFrame(columns=df.columns)
# new_df
for df in pd.read_csv('pokemon_data.csv', chunksize=50):
    results = df.groupby(['Type 1'] , as_index=False).count()
    new_df = pd.concat([new_df, results] , sort=False) #to concat horizontally use axis = 1

new_df[new_df['Type 1'] == 'Bug']
# new_df['Attack']
# print(new_df[['Type 1']].to_dict())

# new_df.groupby('Type 1').sum()
# df=pd.read_csv('pokemon_data.csv')
# df.groupby('Type 1').count()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,7,7,Bug,5,7,7,7,7,7,7,7,7
0,4,4,Bug,4,4,4,4,4,4,4,4,4
0,3,3,Bug,2,3,3,3,3,3,3,3,3
0,4,4,Bug,4,4,4,4,4,4,4,4,4
0,8,8,Bug,7,8,8,8,8,8,8,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...
0,7,7,Bug,6,7,7,7,7,7,7,7,7
0,1,1,Bug,1,1,1,1,1,1,1,1,1
0,9,9,Bug,8,9,9,9,9,9,9,9,9
0,8,8,Bug,6,8,8,8,8,8,8,8,8
0,4,4,Bug,2,4,4,4,4,4,4,4,4

In [152]:
#split df into to dfs
cols=df.columns.to_list()
# left_df = df[cols[0:2]]
# left_df
# right_df = df[cols[1:3]+cols[3:]]
# right_df

# #inner join merge
# merged_inner = pd.merge(left=left_df,right=right_df, left_on='Name', right_on='Name')
# merged_inner

# left/right join
# left_df = pd.concat([left_df,pd.DataFrame(columns=list(left_df.columns),data=np.array(['','Div_left']).reshape(1,2))])
# left_df.reset_index(drop=True,inplace=True)
# left_df

# right_df = pd.concat([right_df,pd.DataFrame(columns=list(right_df.columns),data=np.array(['Div_right','','','','','','','','','','']).reshape(1,11))])
# right_df.reset_index(drop=True,inplace=True)
# right_df

# merged_left = pd.merge(left=left_df,right=right_df, left_on='Name', right_on='Name', how='right')
# merged_left

# # outer join
merged_outer = pd.merge(left=left_df,right=right_df, left_on='Name', right_on='Name', how='outer')
merged_outer

# pd.isnull(merged_outer.iloc[800]['Type 1'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,681,AegislashBlade Forme,Steel,Ghost,60,150,50,150,50,60,6,False
1,681,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False
2,682,Spritzee,Fairy,NaN,78,52,60,63,65,23,6,False
3,683,Aromatisse,Fairy,NaN,101,72,72,99,89,29,6,False
4,684,Swirlix,Fairy,NaN,62,48,66,59,57,49,6,False
...,...,...,...,...,...,...,...,...,...,...,...,...
47,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
48,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
49,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True
50,,Div_left,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,Div_right,,,,,,,,,,

## Display setting

In [58]:
display_settings = {
    'max_rows': 20,
    'precision': 2,
    'show_dimensions': True,
    'max_columns': 15
}

for op, value in display_settings.items():
    pd.set_option("display.{}".format(op), value)

In [60]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600